WebPeliculasEF-WCF-SOAP/Service References/ServiceReferencePelicula/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFServicePeliculas.CLases" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFServicePeliculas.EF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_ListaPeliculas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaPeliculas" />
  </wsdl:message>
  <wsdl:message name="IService1_ListaPeliculas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaPeliculasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener" />
  </wsdl:message>
  <wsdl:message name="IService1_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Agregar_InputMessage">
    <wsdl:part name="parameters" element="tns:Agregar" />
  </wsdl:message>
  <wsdl:message name="IService1_Agregar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Editar_InputMessage">
    <wsdl:part name="parameters" element="tns:Editar" />
  </wsdl:message>
  <wsdl:message name="IService1_Editar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IService1_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListaGenero_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaGenero" />
  </wsdl:message>
  <wsdl:message name="IService1_ListaGenero_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaGeneroResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="ListaPeliculas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListaPeliculas" message="tns:IService1_ListaPeliculas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListaPeliculasResponse" message="tns:IService1_ListaPeliculas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Obtener" message="tns:IService1_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerResponse" message="tns:IService1_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Agregar" message="tns:IService1_Agregar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AgregarResponse" message="tns:IService1_Agregar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Editar" message="tns:IService1_Editar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditarResponse" message="tns:IService1_Editar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Eliminar" message="tns:IService1_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EliminarResponse" message="tns:IService1_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaGenero">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListaGenero" message="tns:IService1_ListaGenero_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListaGeneroResponse" message="tns:IService1_ListaGenero_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListaPeliculas">
      <soap:operation soapAction="http://tempuri.org/IService1/ListaPeliculas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <soap:operation soapAction="http://tempuri.org/IService1/Obtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <soap:operation soapAction="http://tempuri.org/IService1/Agregar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <soap:operation soapAction="http://tempuri.org/IService1/Editar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IService1/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaGenero">
      <soap:operation soapAction="http://tempuri.org/IService1/ListaGenero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFServicePeliculas/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>