WebPeliculasEF-WCF-SOAP/Service References/ServiceReferencePelicula/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFServicePeliculas.CLases" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFServicePeliculas.EF" />
  <xs:element name="ListaPeliculas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPeliculasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServicePeliculas.CLases" minOccurs="0" name="ListaPeliculasResult" nillable="true" type="q1:ArrayOfPeliculaMax" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServicePeliculas.CLases" minOccurs="0" name="ObtenerResult" nillable="true" type="q2:PeliculaMax" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agregar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServicePeliculas.EF" minOccurs="0" name="p" nillable="true" type="q3:Pelicula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFServicePeliculas.EF" minOccurs="0" name="p" nillable="true" type="q4:Pelicula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFServicePeliculas.EF" minOccurs="0" name="p" nillable="true" type="q5:Pelicula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaGenero">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaGeneroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFServicePeliculas.CLases" minOccurs="0" name="ListaGeneroResult" nillable="true" type="q6:ArrayOfGeneroMax" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>