WebPeliculasEF-WCF-SOAP/Service References/ServiceReferencePelicula/WCFServicePeliculas.EF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServicePeliculas.EF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServicePeliculas.EF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Pelicula">
    <xs:sequence>
      <xs:element minOccurs="0" name="Año" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FechaAlta" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Genero" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Genero1" nillable="true" type="tns:Genero" />
      <xs:element minOccurs="0" name="IdPelicula" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pelicula" nillable="true" type="tns:Pelicula" />
  <xs:complexType name="Genero">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdGenero" type="xs:int" />
      <xs:element minOccurs="0" name="Pelicula" nillable="true" type="tns:ArrayOfPelicula" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Genero" nillable="true" type="tns:Genero" />
  <xs:complexType name="ArrayOfPelicula">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pelicula" nillable="true" type="tns:Pelicula" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPelicula" nillable="true" type="tns:ArrayOfPelicula" />
</xs:schema>