WebPeliculasEF-WCF-SOAP/Service References/ServiceReferencePelicula/WCFServicePeliculas.CLases.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServicePeliculas.CLases" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServicePeliculas.CLases" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPeliculaMax">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PeliculaMax" nillable="true" type="tns:PeliculaMax" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPeliculaMax" nillable="true" type="tns:ArrayOfPeliculaMax" />
  <xs:complexType name="PeliculaMax">
    <xs:sequence>
      <xs:element minOccurs="0" name="Año" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FechaAlta" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Genero" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="GeneroEnt" nillable="true" type="tns:GeneroMax" />
      <xs:element minOccurs="0" name="IdPelicula" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PeliculaMax" nillable="true" type="tns:PeliculaMax" />
  <xs:complexType name="GeneroMax">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdGenero" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneroMax" nillable="true" type="tns:GeneroMax" />
  <xs:complexType name="ArrayOfGeneroMax">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GeneroMax" nillable="true" type="tns:GeneroMax" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGeneroMax" nillable="true" type="tns:ArrayOfGeneroMax" />
</xs:schema>